.form-row {
  margin-bottom: 1rem;
  .form-label {
    display: block;
    font-size: var(--small-tex);
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
  }
}
