.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .login-heading {
    text-align: center;
    background-color: var(--primary-1);
    width: 150px;
    padding: 10px;
    color: white;
    border-radius: 10px;
  }
  .form-wrap {
    .input-wrap {
      .check-box-wrap {
        .title {
        }
        .checkBox {
          border-radius: 20px;
        }
      }
    }
  }
}
