.button-container {
  // margin-top: 50px;
  .button-input {
    width: 500px;
    height: 50px;
    color: var(--gray-18);
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 20px;
    @media screen and (max-width: 740px) {
      width: 300px;
    }
  }
}
