.main-container {
  background-color: rgb(245, 249, 252);
  padding: 10px;
  .title {
    color: orange;
    font-weight: 700;
    text-align: center;
  }
  .suggestion-box {
    .suggestion-items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left-item {
        background-color: aquamarine;
        padding: 5px;
        border-radius: 5px;
      }
      .right-item {
        background-color: aquamarine;
        padding: 5px;
        border-radius: 5px;
      }
    }
  }
}
