.main-container {
  background-color: rgb(245, 249, 252);
  padding: 10px;
  .title {
    color: orange;
    font-weight: 700;
    text-align: center;
  }
  .suggestion-box {
    .suggestion-items {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left-item {
        display: flex;
        width: 200px;
        align-items: center;
        justify-content: space-around;
      }

      .right-item {
        padding: 5px;
        border-radius: 5px;
        width: 100px;
        margin-left: 2px;
        margin-right: 3px;
        .button {
          width: 70px;
        }
        .follow {
          color: blue;
        }
      }
    }
  }
}
