.main-wrapper {
  background-color: white;
  margin-top: 150px;
  width: 800px;
  .container-wrapper {
    .container-wrapper-auth {
      .tabs {
        .tabs-auth {
          .tab-group {
            .tab {
            }
          }
        }
      }
    }
  }
}
