.main-wrapper {
  background-color: white;
  margin-top: 50px;
  width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  .sub-container {
    .tabs-auth {
      padding: 20px;
      .tab-group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width: 740px) {
          width: 300px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .tab {
          list-style-type: none;
          .login-btn {
            width: 150px;
            font-size: 18px;
            padding: 10px;
            background-color: var(--primary-1);
            border: none;
            color: white;
            border-radius: 5px;
            @media screen and (max-width: 740px) {
              width: 100px;
            }
          }
          .register-btn {
            width: 150px;
            font-size: 18px;
            padding: 10px;
            font-size: 18px;
            background-color: transparent;
            border: 1px solid var(--primary-1);
            color: var(--primary-1);
            border-radius: 5px;
            @media screen and (max-width: 740px) {
              width: 100px;
            }
          }
        }
      }
      .form-wrap {
        // background-color: aliceblue;
        .card-wrap {
          // background-color: #f5f6fa;
          height: 300px;
          border-radius: 10px;
        }
      }
    }
  }
}
