.main-wrapper {
  background-color: white;
  margin-top: 150px;
  width: 800px;
  .container-wrapper {
    .container-wrapper-auth {
      .tabs {
        .tabs-auth {
          .tab-group {
            display: flex;
            justify-content: space-between;
            .tab {
              list-style-type: none;
              font-size: 20px;
              padding: 20px;
              .login-btn {
                padding: 20px;
              }
              .register-btn {
                padding: 20px;
              }
            }
          }
        }
      }
    }
  }
}
