.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: rgb(22, 112, 82);
  .sub-container {
    .alerts {
      background-color: rgb(244, 212, 212);
      color: rgb(142, 7, 7);
      width: 500px;
      padding: 10px;
      margin-left: 10px;
      @media screen and (max-width: 740px) {
        width: 300px;
      }
    }
    .form-container {
      .form-wrap {
        width: 500px;
        // background-color: grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .send-btn {
          background-color: var(--primary-1);
          color: white;
        }
        .check-box-wrap {
          display: flex;
          margin-top: 20px;
          .checkBox {
            margin-right: 20px;
          }
          .title {
            color: var(--primary-1);
            font-weight: bold;
          }
        }
        .horizontal-rule {
          background-color: var(--primary-1);
          height: 20px;
        }
        .forgot-password {
          color: red;
          text-align: right;
        }
      }
      .remarks-wrap {
        display: flex;
        width: 300px;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        .remark-text {
          text-decoration: none;
        }
      }
    }
  }
}
